@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  background-color: #263238;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 100px;
  -webkit-font-smoothing: antialiased;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #f1f1f1;
  -webkit-animation: fadein 2s;
          animation: fadein 2s; }
}

.block {
  width: 100%;
  padding: 100px;
}

.block img {
  max-width: 100%;
}

.one {
  background-color: #f1f1f1;
  color: #263238;
  padding: 200px 0 200px 0;
}

.two {
  background-color: #263238; 
  color: #f1f1f1;
  padding: 200px 0 200px 0;
}

.pellucid-app {
  background-image: linear-gradient(-180deg, #263238, #263238 33%, #f1f1f1 33%, #f1f1f1);
  padding: 0 0 100px 0;
}

.pellucid-website {
  background-image: linear-gradient(-180deg, #f1f1f1 10%,  #BDBDC1 40%, #878690 80%);
  color: #f1f1f1;
  padding: 100px 0 200px 0;
}

.nbm-website {
  background-image: linear-gradient(-180deg, #f1f1f1, #f1f1f1 40%, #fff 50%, #fff);
  color: #f1f1f1;
  padding: 100px 0 200px 0;
}


.static-image-grid img {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
  transition: all 0.5s ease;
  border-radius: 5px;
}

.static-image-grid .note {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  color: #848d96;
  letter-spacing: 2px;
  }

.image-grid img {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.50);
  transition: all 0.5s ease;
  margin-bottom: 30px;
  border-radius: 5px;
}

.image-grid img:hover{
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.50);
  box-sizing: 300px;
  top: -3px;
  position: relative;
}

.footer a {
  color: #fff;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #f1f1f1; 
}
.footer .tagline a {
  color: #fff;
  text-decoration: none;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #448aff; 
}

.footer .tagline a:hover {
  color: #ff5252;
  text-decoration: none;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #fff; 
}

.footer .split-bio a {
  color: #f1f1f1;
  text-decoration: none;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #448aff; 
}

.footer .split-bio a:hover {
  color: #ff5252;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #fff; 
}

hr {
  border-top: 1px dotted #848d96 }

.split-intro {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -2px; }
  .split-intro h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
    color: #448aff; }
  .split-intro .tagline {
    color: #f1f1f1; }
  .one .split-intro .tagline {
    color: #263238;
  }

.split-bio {
  padding: 40px 0 0 0;
  font-family: 'Lora', serif; }
  @media (max-width: 1200px) {
    .split-bio {
      padding: 30px 0; } }
  @media (max-width: 800px) {
    .split-bio {
      padding: 20px 0; } }
  .split-bio ul li {
    color: #848d96; }
  .split-bio p {
    color: #848d96; }
  .split-bio a {
    color: #848d96;
    transition-duration: 0.5s;
    border-bottom: 1px dotted #848d96; }
    .split-bio a:hover {
      color: #ff8a80;
      transition-duration: 0.1s;
      border-bottom: 1px dotted #ff8a80; }

  .split-lists .split-list h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 31px;
    color: #848d96;
    letter-spacing: .4px;
    opacity: 0.5; }
  .split-lists .split-list ul {
    list-style: none; }
  .split-lists .split-list ul li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px; }
    .split-lists .split-list ul li a {
      color: #f1f1f1;
      transition-duration: 0.5s;
      text-decoration: none;
      border-bottom: 1px dotted #448aff; }
      .split-lists .split-list ul li a:hover {
        color: #ff5252;
        transition-duration: 0.1s;
        border-bottom: 1px dotted #f1f1f1; }
